@use '../../styles/variables' as *;

.our-values-section {
  padding: $spacing-xxl 0;
  background-color: $primary-dark;
  position: relative;
  z-index: 1;

  @media (max-width: 1199px) {
   overflow-x: clip;
   padding: $spacing-sm 0;
  }

  &::before {
    content: '';
    position: absolute;
    top: 10%;
    left: -40%;
    width: 70%;
    height: 100%;
    background: radial-gradient(circle, rgba(207, 176, 0, 0.25) 0%, transparent 90%);
    filter: blur(5rem);
    pointer-events: none;
    z-index: -1;
  }

  &::after {
    content: '';
    position: absolute;
    top: 10%;
    right: -40%;
    width: 70%;
    height: 100%;
    background: radial-gradient(circle, rgba(0, 255, 145, 0.2) 0%, transparent 90%);
    filter: blur(5rem);
    pointer-events: none;
    z-index: -1;
  }


  .value-card {
    background-color: $card-dark;
    border-radius: $border-radius-lg;
    padding: 2rem 1rem;
    height: 100%;
    text-align: center;
    transition: $transition-base;

    &:hover {
      transform: translateY(-0.3125rem);
    }

    .value-icon {
      font-size: 3rem;
      margin-bottom: $spacing-md;
    }

    .value-title {
      font-size: 1.5rem;
      font-weight: 600;
      color: $text-white;
      margin-bottom: $spacing-sm;
    }

    .value-description {
      font-size: 1rem;
      color: $text-light;
      line-height: 1.6;
      margin: 0;
    }
  }
}

